<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Services</title>
</head>
<body bgcolor="cyan" text="white">
<h1 align="center">Bank Of Wipro</h1>
<table align='center' bgcolor='green' border="1">
<tr>
	<td>S.No
	<td>Service Name
</tr>
<tr>
	<td>1.
	<td>Savings Account
</tr>
<tr>
	<td>2.
	<td>Current Account
</tr>
<tr>
	<td>3.
	<td>Fund Transfer
</tr>
<tr>
	<td>4.
	<td>Debit Cards
</tr>
<tr>
	<td>5.
	<td>Credit Cards
</tr>
<tr>
	<td>6.
	<td>Personal Loans
</tr>
</table>
</body>
</html>