<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Branches</title>
</head>
<body bgcolor="blue" text="white">
<h1 align="center">Bank Of Wipro</h1>
<table align='center' border="1" bgcolor='grey'>
<tr>
	<td>S.no
	<td>Branch
	<td>Address
</tr>
<tr>
	<td>1.
	<td>Branch 1
	<td>Bangalore
</tr>
<tr>
	<td>2.
	<td>Branch 2
	<td>Bangalore
</tr>
<tr>
	<td>3.
	<td>Branch 3
	<td>Bangalore
</tr>
<tr>
	<td>4.
	<td>Branch 4
	<td>Bangalore
</tr>
<tr>
	<td>5.
	<td>Branch 5
	<td>Bangalore
</tr>
<tr>
	<td>6.
	<td>Branch 6
	<td>Bangalore
</tr>
<tr>
	<td>7.
	<td>Branch 7
	<td>Bangalore
</tr>
<tr>
	<td>8.
	<td>Branch 8
	<td>Bangalore
</tr>
<tr>
	<td>9.
	<td>Branch 9
	<td>Bangalore
</tr>
<tr>
	<td>10.
	<td>Branch 10
	<td>Bangalore
</tr>
</table>
</body>
</html>